primeras\ pruebas
classification
v2
v4
African\ Dataset
saved\ data/
#classification/*.pkl
#classification/*.sav
classification/saved
v2/*.pkl
BoundingBox\ Javi/data
BoundingBox\ Javi/images
v4/*.pkl
v4/*.sav
BoundingBox/
primeras\ pruebas
v5/*.pkl
v5/*.sav
v6/*.pkl
codigo.zip
TFG.code-workspace
TFG.code-workspace\ alias
results/
